@media (min-width: 900px) {
  body.viewTwo .main-content {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4em;
    padding: 5em;
  }

  body.viewTwo .timer {
    align-self: center;
    gap: 2rem;
  }

  body.viewTwo .controls-container {
    gap: 1.5em;
  }

  body.viewTwo .sounds {
    display: grid;
    gap: 2em;
    grid-template-areas:
      'A B '
      'C D';
  }

  body.viewTwo .sounds:nth-child(1) {
    grid-area: A;
  }

  body.viewTwo .sounds:nth-child(2) {
    grid-area: B;
  }

  body.viewTwo .sounds:nth-child(3) {
    grid-area: C;
  }

  body.viewTwo .sounds:nth-child(4) {
    grid-area: D;
  }
}
