@media (min-width: 915px) {
  body.viewTwo .main-content {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4em;
    padding: 6.72em 2.5em;
  }

  body.viewTwo .timer {
    align-self: center;
    gap: 2rem;
  }

  body.viewTwo .controls-container {
    gap: 1.5em;
  }

  body.viewTwo .sounds {
    display: grid;
    gap: 2em;
    grid-template-areas:
      'A B '
      'C D';
  }

  body.viewTwo .sounds:nth-child(1) {
    grid-area: A;
  }

  body.viewTwo .sounds:nth-child(2) {
    grid-area: B;
  }

  body.viewTwo .sounds:nth-child(3) {
    grid-area: C;
  }

  body.viewTwo .sounds:nth-child(4) {
    grid-area: D;
  }

  body.viewTwo .slidecontainer {
    display: flex;
    align-items: center;
    gap: 0.5em;
    width: 30%; 
    height: 1em;
    transform: rotate(270deg);
    position: absolute;
    right: -6em;
    top: 17em;
  }

  body.viewTwo .slidecontainer  img {
    transform: rotate(90deg);

  }
}
