body.dark {
  background-image: url('../src/images/themes/darkmode/1920×1080.jpg');
  transition: background-image 1s ease;
}

body.dark svg path {
  fill: var(--button-darkmode-color);
  transition: fill 1s ease;
}

body.dark svg.switch path {
  fill: #999999;
  transition: fill 1s ease;
}

body.dark svg.switch path.body {
  fill: #8e7f7f;
}

body.dark .tabs,
body.dark .main-content,
body.dark .theme-card {
  background-color: var(--main-darkmode-bg);
  transition: background-color 1s ease;
}

body.dark .main-content {
  box-shadow: rgba(15, 43, 255, 0.15) 1.95px 1.95px 2.6px;
}

body.dark .time-bar {
  border: 0.2rem solid var(--button-darkmode-color);
  background-color: transparent;
  transition: all 1s ease;
}

body.dark .tabs,
body.dark .counter,
body.dark .controls-container {
  color: var(--button-darkmode-color);
  transition: all 1s ease;
}

body.dark input[type='range'],
body.dark input[type='range']::-webkit-slider-runnable-track,
body.dark input[type='range']::-webkit-slider-thumb {
  background-color: rgba(255, 255, 255, 0.5);
  transition: background-color 1s ease;
}

body.dark .cards {
  background: var(--cards-color-bg-dark);
}

body.dark .cards.selected {
  background: var(--cards-color-bg-selected);
  transition: background 1s ease;
}

body.dark .cards.selected svg path {
  fill: var(--button-darkmode-icon-selected);
  transition: fill 1s ease;
}

body.dark .cards.selected input[type='range'],
body.dark .cards.selected input[type='range']::-webkit-slider-runnable-track,
body.dark .cards.selected input[type='range']::-webkit-slider-thumb {
  background-color: var(--button-darkmode-icon-selected);
  transition: background-color 1s ease;
}
