:root {
  font-size: 62.5%;

  --main-lightmode-bg: hsla(0, 0%, 97%, 0.75);
  --button-lightmode-color: hsla(248, 2%, 20%, 1);
  --button-lightmode-icon-selected: hsla(240, 31%, 98%, 1);

  --button-color-selected: hsla(227, 86%, 53%, 1);
  --cards-color-bg-selected: hsla(227, 85%, 53%, 0.75);
  --cards-color-bg: hsla(0, 6%, 53%, 0.4);

  --main-darkmode-bg: hsla(0, 0%, 0%, 0.75);
  --button-darkmode-color: hsla(216, 10%, 90%, 1);
  --button-darkmode-icon-selected: hsla(0, 0%, 0%, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

body {
  width: 100%;
  height: 100vh;

  background-image: url('../src/images/themes/lightmode/1920x1080.jpg');
  background-size: cover;

  position: relative;

  display: flex;
}

.theme-card {
  position: fixed;

  right: 2rem;
  top: 2rem;

  width: 8rem;
  height: 8rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: var(--main-lightmode-bg);
  border-radius: 0.8rem;

  padding: 0.3125rem;
}

.theme-icons {
  display: flex;
  gap: 0.93rem;
  width: 100%;
}

.switch {
  transform: matrix(1, 0, 0, 1, 0, 0);
}

main {
  width: 103.5rem;
  height: 58.3rem;

  margin: 23.2rem auto 26.5rem;
}

.aplication-tabs {
  display: flex;
  justify-content: space-between;

  align-items: center;
  width: 100%;
}

.main-tabs {
  width: 22rem;
  height: 3.4rem;
  display: flex;
  gap: 1rem;
}

.tabs {
  width: 10.5rem;
  height: 3.4rem;
  background: var(--main-lightmode-bg);

 display: flex;
 justify-content: center;
 align-items: center;

 border-radius: 8px 8px 0px 0px;;
}
