:root {
  --main-lightmode-bg: hsla(0, 0%, 97%, 0.6);
  --button-lightmode-color: hsla(248, 2%, 20%, 1);
  --button-lightmode-icon-selected: hsla(240, 31%, 98%, 1);

  --button-color-selected: hsla(227, 86%, 53%, 1);
  --cards-color-bg-selected: hsla(227, 85%, 53%, 0.5);
  --cards-color-bg-light: hsla(253, 7%, 75%, 0.7);

  --main-darkmode-bg: hsla(0, 0%, 0%, 0.75);
  --button-darkmode-color: rgb(208, 209, 210);
  --button-darkmode-icon-selected: hsla(0, 0%, 0%, 1);
  --cards-color-bg-dark: hsla(240, 3%, 20%, 0.7);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

body {
  background-image: url('../src/images/themes/lightmode/1920x1080.jpg');
  background-size: auto;
  transition: all 1s ease;

  position: relative;

  width: 100%;
  height: 100%;

  padding: 1em;
  color: var(--button-lightmode-color);
}

.theme-card {
  position: fixed;
  right: 0.5em;
  top: 0.5em;
  padding: 0.3em;
  background-color: var(--main-lightmode-bg);
  border-radius: 0.4em;
  font-size: 1em;
}

main {
  display: flex;
  flex-direction: column;
  width: clamp(330px, 100%, 1014px);
  margin: 8em auto;

}

.aplication-tabs {
  width: 12em;
}

.main-tabs {
  display: flex;
  gap: 0.5em;
  text-align: center;
}

.tabs {
  background-color: var(--main-lightmode-bg);
  width: 50%;
  padding: 0.5em;
  border-radius: 0.5em 0.5em 0 0;
  cursor: pointer;

}

.view {
  display: none;
  cursor: pointer;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.2em;
  background-color: var(--main-lightmode-bg);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border-radius: 0 0.5em 0.5em 0.5em;
  width: clamp(20em, 100%, 65em);

  position: relative;
  padding: 1.5em;

}

.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2em;
  /* width: 80%; */
}

.counter {
  font-size: clamp(5em, 5.37em + 5vw, 9.37em);
}

.time-bar {
  width: clamp(10em, 100%, 35em);
  height: 1.2em;
  background-color: transparent;
  border: 0.1em solid var(--button-lightmode-color);
  border-radius: 0.4em;
  padding: 0;
}

.fill {
  background-color: #224fee;
  height: 100%;
  width: 0%;
  border-radius: 0.4em;
}

.fill.d25 {
  animation: counter-status 1500s ease;
}

.fill.d45 {
  animation: counter-status 2700s ease;
}

.fill.d60 {
  animation: counter-status 3600s ease;
}

.hide {
  display: none;
}

.controls-container {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 2.5em;
}

.controls-container img {
  width: clamp(1.5em, 1.5em + 1.5vw, 2.37em);
  cursor: pointer;

}

.controls-container img.selected {
  filter: brightness(0) saturate(100%) invert(23%) sepia(79%) saturate(2747%) hue-rotate(221deg) brightness(95%) contrast(97%);
}
.controls-container p {
  width: 100%;
  text-align: center;
  font-size: clamp(1em, 1em + 0.5vw, 1.5em);
}
.controls-container p.numberOfSession span {
  font-size: clamp(1.2em, 1.2em + 0.5vw, 1em);
  font-weight: bolder;
}

.containers {
  display: flex;
  gap: 0.5em;
  flex-direction: column;
  align-items: center;
}

.numberOfSession,
.duration,
.session-options {
  display: flex;
  gap: 0.5em;
}

.sounds {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 1em;
  width: 100%;
  padding: 1em;
}

.cards {
  width: clamp(5em, 7em + 3vw, 9em);
  height: clamp(5em, 5em + 6vh, 9em);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--cards-color-bg-light);
  border-radius: 0.5em;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  padding: 0.5em;

  cursor: pointer;

}

.cards.selected {
  background-color: var(--button-color-selected);
}

.cards img {
  width: clamp(2em, 3em + 1vw, 6em);
}

.cards.selected img {
  filter: invert(1);
}
.turnOffSound {
  position: absolute;
  bottom: 0.5em;
  right: 0.5em;
  width: fit-content;
  background-color: none;
  font-weight: bolder;
  cursor: pointer;

}

@keyframes counter-status {
  0% {
    width: 0%;
  }

  25% {
    width: 25%;
  }

  50% {
    width: 50%;
  }

  75% {
    width: 75%;
  }

  100% {
    width: 100%;
  }
}

@media (min-width: 900px) {
  main {
    margin: 8em auto;
  }

  .view {
    display: flex;
    position: absolute;
    top: 0.5em;
    right: 0.5em;
  }
}

